Django==1.10
fuzzywuzzy==0.15.1
gunicorn==19.1.1
jsonfield==2.0.2
jsonpickle==0.9.6
jsonschema==2.5.1
Keras==2.0.2
numpy==1.14.3
opencv-contrib-python==3.3.0.10
opencv-python==3.3.0.10
pickleshare==0.7.4
Pillow==4.3.0
protobuf==3.5.2.post1
tensorboard==1.8.0
tensorflow==1.4.0